:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #333;
}

.dark-mode {
    --primary-color: #fff;
    --secondary-color: #333;
    --background-color: #333;
    --text-color: #f4f4f4;
    --border-color: #fff;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
    border-right: 2px solid var(--border-color);
}

.main-content {
    flex: 1;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 1rem;
}

#posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
}

.post {
    border: 3px solid var(--border-color);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
}

.post a {
    text-decoration: none;
    color: var(--text-color);
}

.new-post-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-top: 2px solid var(--border-color);
}