body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    min-height: 100vh;
    margin: 0;
    position: relative; /* Needed for absolute positioning of children */
}

h1 {
    color: #0056b3;
    text-align: center; /* Center the h1 */
    margin-top: 50px; /* Add some space from the top */
}

#bitcoin-price {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}